.Button {
  font-size: 0.8rem;
  align-self: center;
  border-radius: 100px;
  border-color: transparent;
  padding: 4px 10px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 75px;
}

.Button:hover {
  opacity: 0.8;
  border-color: transparent;
  cursor: pointer;
  color: #382633;
  background-color: #E8E7FF;
  border: 2px solid #382633;

}

/* SIGN IN & SIGN UP  */
.SignInUp {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  letter-spacing: 1px;
}

.Button:focus {
  background-color: #E8E7FF;
  color: #3A4B72;
}

.Wide {
  padding: 10px 50px;
  width: 100%;
  background-color: #8E8DBE;
  border: 2px solid #382633;
}

.Edit {
  background-color: #E8E7FF;
  border: 2px solid #8E8DBE;
  color: #3A4B72;
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
}

.Unfollow {
  background-color: #E8E7FF;
  border: 2px solid #382633;
  color: #3A4B72;
}

.Unfollow:hover,
.Edit:hover {
  background-color: #8E8DBE;
  color: #E8E7FF;
}

.Follow,
.Review {
  background-color: #8E8DBE;
  border: 2px solid #382633;
  color: white;
}

/* NUMBER OF REVIEWS BUTTON */
.NumReviews {
  background-color: transparent;
  border-color: white;
  color: #B28524;
  font-weight: bolder;
}

.NumReviews:focus {
  background-color: transparent;
  border-color: white;
  color: #B28524;
}

.NumReviews:hover {
  background-color: transparent;
  border-color: white;
  border-radius: 20px;
  color: #3A4B72;
}