.NavBar {
    background-color: #f6d64c;
    border: 2px solid #eac327;
}

.NavLink {
    padding: 5px;
}

i {
    color: #B28524;
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
  }
  
  i:hover, a:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #3a4c72;
    font-weight: bolder;
  }

a {
color: #8e6713;
transition: color ease-in-out 0.3s;
}


/* had class a:active too but not sure why? */
.Active, .Active i {
    color: #3a4c72;
    font-weight: bolder;
}


/* MEDIA QUERIES: */
@media screen and (max-width: 993px) {
  .NavLink{
    font-size: 13px;
  }
}